In [1]:
from enum import Enum
import quandl
import pandas as pd
import sqlite3
import numpy as np
from functools import partial

In [29]:
# config
class Config:
    API_KEY = "WkHc4vJGHBT4Xtuma14T"
    MARKET = 'EURONEXT/'
    DEFAULT_INDEX = 'DATE'
    STOCK_COL_NAMES = [('DATE', 'INTEGER'),
                       ('Open', 'REAL'),
                       ('High', 'REAL'),
                       ('Low', 'REAL'),
                       ('Last', 'REAL'),
                       ('Volume', 'INTEGER'),
                       ('Turnover', 'INTEGER')]
    PORTFOLIO_COL_NAMES = ['ORANGE', 'AIRBUS']

class DevelopmentConfig(Config):
    DATABASE = 'test33.db'
    START_DATE = '2001-12-31'
    
class ProductionConfig(Config):
    DATABASE = 'stocks.db'
    START_DATE = '2001-12-31'
    
config = DevelopmentConfig
quandl.ApiConfig.api_key = config.API_KEY

In [30]:
# Functions used to compute indicators
class Functions(Enum):
    def SMA(table, time_period, output, input = 'Last'):
        df = table.to_dataframe()
        col_index = list(df.columns).index(output)
        for i in range(time_period - 1, len(df)):
            if (df[output][i] is None) or (np.isnan(df[output][i])):
                df.iloc[i,col_index] = df[input][i-(time_period - 1):i+1].sum()/time_period
        print(df)
        tmp_table = Table('tmp_table', df, with_index=False)
        table + tmp_table
        tmp_table._drop()

In [25]:
# Classes
class DataBase:
    db_name = config.DATABASE # type String
    
    def _connect(self):
        # establishes connection to the database and returns the connector
        conn = sqlite3.connect(self.db_name)
        return conn
    
    def _save_and_close(self, conn, cur = None):
        # saves changes to the database and closes the connection to the database
        conn.commit()
        if cur is not None:
            cur.close()
        conn.close()
        
    def _query(self, query, dtype = None):
        conn = self._connect()
        cur = conn.cursor()
        if dtype is None:
            answer = cur.execute(query)
            self._save_and_close(conn, cur)
        else:
            answer = pd.read_sql_query(query, conn)
            self._save_and_close(conn, cur)
        return answer
    
class Table(DataBase): 
    def __init__(self, tab_name, df = None, with_index = True):
        self.tab_name = tab_name # type String
        self.db_name = config.DATABASE # type String
        if not self._exists():
            self._create_table(df, with_index)
       
    def _create_table(self, df = None, with_index = True):
        # creates a table in the database
        # if a dataframe df is passed, it appends it with the dataframe
        if df is None:
            query = "CREATE TABLE " + self.tab_name \
                    + "(" + self._col_names_to_string(only_col_names = False) + ")"
            self._query(query)
        else:
            self._fill_with_dataframe(df, with_index)
    
    def _fill_with_dataframe(self, df, with_index = True):
        # appends a table with the dataframe df
        conn = self._connect()
        df.to_sql(self.tab_name, conn, if_exists = 'append', index = with_index, index_label = config.DEFAULT_INDEX)
        self._save_and_close(conn)
    
    def _exists(self):
        # returns True if the table exists in the database, False if not
        query = "SELECT name FROM sqlite_master WHERE type = 'table' AND name = '" + self.tab_name + "'"
        answer = self._query(query, dtype = 'df').empty
        return not answer
    
    def _update_with_dataframe(self, df):
        # updates a table given df
        tmp_table = Table('tmp_table', df)
        self + tmp_table
        tmp_table._drop()
        
    def _union(self, table):
        # left joins and unions self with table
        query = "INSERT OR REPLACE INTO " + self.tab_name + \
                " SELECT * FROM ( \
                SELECT * " + self._col_names_to_string() + " FROM " \
                + self.tab_name + " UNION SELECT * FROM " + table.tab_name + \
                ") NATURAL LEFT JOIN " + self.tab_name
        self._query(query)
        
    def _col_names_to_string(self, only_col_names = True):
        # returns a string made from the col_names
        # example : ['a','b','c'] returns "a,b,c"
        s = ""
        i = 0
        for c,t in (Config.STOCK_COL_NAMES):
            if i == 0:
                s = s + c
                i = 1
            else:
                s = s + ', ' + c     
            if not only_col_names:
                s = s + " " + t
                if c == Config.DEFAULT_INDEX:
                    s = s + " UNIQUE"             
        return s
    
    def _drop(self):
        # drops self table
        query = "DROP TABLE " + self.tab_name
        self._query(query)
        
    def to_dataframe(self):
        # returns a dataframe extracted from the table
        query = "SELECT * FROM " + self.tab_name
        return self._query(query, dtype = 'df')
        
    def replace(self, df):
        # replaces a table with a new one containing df
        self._drop()
        self._create_table(df, with_index = False)
        
    def __add__(self, table):
        self._union(table)
        
    def _add_column(self, column_name, column_type = "REAL"):
        # just adds a new column
        query = "ALTER TABLE " + self.tab_name + \
                " ADD COLUMN " + column_name + " " + column_type
        self._query(query)

class Stock(Table, Enum):
    ORANGE = 'ORA'
    AIRBUS = 'AIR'

    def __init__(self, code):
        self.code = Config.MARKET + code
        Table.__init__(self, self.name, None)

    def _add_and_compute_indicators(self):
        # adds and computes all indicators to self
        for indicator in Indicator:
            self._add_indicator(indicator)
            self._compute_indicator(indicator)
            
    def _compute_indicator(self, indicator):
        # computes missing values of the indicator in the indicator.name column and updates table
        indicator.compute(self)
   
    def _update_indicators(self):
        # computes missing values of the indicator in the indicator.name column and updates table
        for indicator in Indicator:
            if not self._indicator_exists(indicator):
                self._add_column(indicator.name)
            self._compute_indicator(indicator)
            
    def _indicator_exists(self, indicator):
        query = "PRAGMA table_info(" + self.name + ")"
        indicators = list(self._query(query, 'df')['name'])
        return (indicator.name in indicators)
    
    def update(self):
        df = self._get_data_from_api()
        self._update_with_dataframe(df)
        self._update_indicators()
        print(self.name + " successfully updated!")
    
    def _get_data_from_api(self):
        # returns dataframe from the api values
        return quandl.get(self.code, start_date=config.START_DATE)

    def get_data(self):
        # returns the datraframe extracted from the stock table
        return self.to_dataframe()

class Portfolio(Table):
    def __init__(self, tab_name):
        Table.__init__(self, tab_name)

class Indicator(Enum):
    SMA20 = partial(Functions.SMA, time_period = 20, output = 'SMA20')
    
    def __init__(self, compute):
        self.compute = compute

In [27]:
Stock.ORANGE.update()

OperationalError: SELECTs to the left and right of UNION ALL do not have the same number of result columns

In [16]:
test = Table('test2', df)

In [17]:
test._add_column('TEST')

In [18]:
test._create_from_dataframe(df)

IntegrityError: UNIQUE constraint failed: test2.DATE

In [12]:
df

              Open    High     Low    Last      Volume      Turnover
Date
2014-02-14   9.200   9.237   9.143   9.231   5493685.0  5.056534e+07
2014-02-17   9.215   9.269   9.184   9.226   4143547.0  3.824005e+07
2014-02-18   9.224   9.321   9.221   9.303   8540213.0  7.937708e+07
2014-02-19   9.276   9.364   9.269   9.340   6594004.0  6.152310e+07
2014-02-20   9.250   9.384   9.233   9.384   6025974.0  5.633642e+07
2014-02-21   9.403   9.487   9.345   9.434   8894573.0  8.386507e+07
2014-02-24   9.378   9.648   9.373   9.613   8150488.0  7.792999e+07
2014-02-25   9.550   9.690   9.440   9.630   9295776.0  8.895996e+07
2014-02-26   9.603   9.623   9.252   9.305  18152477.0  1.703480e+08
2014-02-27   9.300   9.327   9.101   9.200  12172862.0  1.119747e+08
2014-02-28   9.173   9.200   9.030   9.069  14416002.0  1.309492e+08
2014-03-05   9.074   9.298   9.020   9.165  10647930.0  9.781073e+07
2014-03-06   9.500  10.235   9.440  10.130  47855850.0  4.753191e+08
2014-03-07  10.140  10.500  10.060  10.235  26751172.0  2.752481e+08
2014-03-10  10.240  10.715  10.240  10.675  20255363.0  2.144326e+08
2014-03-11  10.650  10.665  10.460  10.595  12841397.0  1.359032e+08
2014-03-12  10.505  10.585  10.455  10.555  10823248.0  1.138331e+08
2014-03-13  10.560  10.590  10.260  10.300   9396474.0  9.762179e+07
2014-03-14  10.165  10.205   9.700  10.115  23505993.0  2.360043e+08
2014-03-17  10.050  10.180   9.943  10.180   8212576.0  8.309310e+07
2014-03-18  10.090  10.330  10.020  10.205   8165304.0  8.334342e+07
2014-03-19  10.200  10.200  10.060  10.145   8132717.0  8.251049e+07
2014-03-20  10.030  10.250   9.922  10.220  15257210.0  1.538642e+08
2014-03-21  10.260  10.360  10.220  10.225  17777684.0  1.823607e+08
2014-03-24  10.180  10.295   9.992  10.030   8116514.0  8.183445e+07
2014-03-25  10.020  10.260   9.970  10.225   8704683.0  8.866937e+07
2014-03-26  10.260  10.380  10.225  10.270   6136637.0  6.312681e+07
2014-03-27  10.265  10.435  10.195  10.435   9100609.0  9.450509e+07
2014-03-28  10.490  10.725  10.480  10.710   9185692.0  9.796793e+07
2014-03-31  10.705  10.765  10.580  10.720   6968061.0  7.454900e+07
...            ...     ...     ...     ...         ...           ...
2018-03-21  13.910  13.925  13.750  13.805   5118897.0  7.080010e+07
2018-03-22  13.730  13.835  13.520  13.630   8140822.0  1.109395e+08
2018-03-23  13.530  13.645  13.480  13.555   6616025.0  8.967011e+07
2018-03-26  13.590  13.650  13.385  13.470   6178524.0  8.105128e+07
2018-03-27  13.670  13.690  13.555  13.625   5327953.0  7.257179e+07
2018-03-28  13.535  13.730  13.445  13.730   7112402.0  9.701724e+07
2018-03-29  13.750  13.820  13.660  13.785   6218904.0  8.564737e+07
2018-04-03  13.725  13.835  13.650  13.715   4296203.0  5.898665e+07
2018-04-04  13.735  13.765  13.580  13.720   6326757.0  8.649015e+07
2018-04-05  13.925  14.010  13.825  13.975   7178477.0  1.001160e+08
2018-04-06  13.930  14.080  13.900  13.970   4397307.0  6.145415e+07
2018-04-09  14.025  14.185  13.995  14.110   4743549.0  6.697383e+07
2018-04-10  14.180  14.200  14.110  14.160   4650622.0  6.580001e+07
2018-04-11  14.185  14.315  14.080  14.120   4771862.0  6.759424e+07
2018-04-12  14.125  14.200  14.055  14.200   5295097.0  7.492091e+07
2018-04-13  14.180  14.225  14.120  14.160   3860050.0  5.466996e+07
2018-04-16  14.160  14.470  14.090  14.380   9817357.0  1.406246e+08
2018-04-17  14.425  14.560  14.390  14.485   6943107.0  1.005965e+08
2018-04-18  14.510  14.595  14.470  14.530   5693066.0  8.268792e+07
2018-04-19  14.530  14.590  14.475  14.510   4718551.0  6.851247e+07
2018-04-20  14.515  14.850  14.500  14.760   8261465.0  1.217308e+08
2018-04-23  14.710  14.890  14.670  14.880   5649063.0  8.376168e+07
2018-04-24  14.865  14.895  14.720  14.810   5173255.0  7.657242e+07
2018-04-25  14.735  14.795  14.590  14.770   7757555.0  1.142379e+08
2018-04-26  14.770  15.050  14.700  15.025   8802899.0  1.316113e+08
2018-04-27  15.000  15.100  14.925  15.035   6354365.0  9.547969e+07
2018-04-30  15.075  15.120  15.040  15.115   5794080.0  8.749113e+07
2018-05-02  15.085  15.180  15.020  15.140   6017799.0  9.093300e+07
2018-05-03  15.110  15.140  15.020  15.095   5769272.0  8.702962e+07
2018-05-04  15.075  15.160  15.065  15.160   5346808.0  8.084000e+07

[1049 rows x 6 columns]